<div class="row ">
    <div class="col-md-5 ">
        <h2 class="col-height">Heroes</h2>
        <ul class="heroes">
            <li *ngFor="let hero of heroes">
                <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
                    <span class="badge">{{hero.id}}</span>
                    <span class="name">{{hero.name}}</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="col-md-7">
        <div class="card mb-3 col-height" style="max-width: 540px;">
                <div class="row no-gutters">
                   <app-heroes-details [hero]="selectedHero"></app-heroes-details> 
              </div>
        </div>
    </div>
</div>