<div class="container">
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="{{hero.imagePath}}" alt="{{hero.name}}">
        <div class="card-body">
        <h5 class="card-title">{{hero.name}}</h5>
                <div>
                    <span>id:  
                    </span>{{hero.id}}
                </div>
                <div>
                    <span>quirk: 
                    </span>{{hero.quirk}}
                </div>
                <div>
                    <span>class: 
                    </span>{{hero.class}}
                </div>
        </div>
    </div>
</div>